doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title Lab2
  body
    h1
      b Блог Тимофеевой Анастасии Евгеньевны
    header
      nav
        ul
          li
            a(href='index.html') Главная
          li
            a(href='rozklad.html') Мое расписание
          li
            a(href='photo.html') Фотоальбом
          li
            a(href='news.html') Последние новости
          li1
            a(href='video.html') Видео
    article
      header
        h2 Моя автобиография
        img(src='images/me.jpg', width='170', height='250', alt='Фото')
        p Подпись
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium libero eu vestibulum placerat. Suspendisse potenti. Fusce id pellentesque justo. Suspendisse bibendum massa nec felis accumsan, id accumsan mauris dignissim. Donec ac odio nibh. Pellentesque ut odio lacinia quam viverra tincidunt. Nam vitae fermentum lectus. Aliquam vel consectetur mauris. Nullam erat turpis, aliquet sed sem in, scelerisque facilisis ex. Cras vel finibus nulla, eu maximus purus. Praesent consectetur ex eros, non feugiat erat ullamcorper id.
        | Nam a hendrerit velit. Nulla iaculis tellus viverra erat rutrum imperdiet. Suspendisse consectetur rhoncus ipsum non tincidunt. Curabitur eu faucibus ligula, eget sollicitudin dolor. Aliquam rutrum sollicitudin enim, ut maximus ex faucibus sit amet. Nulla porta lobortis sem id volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis lobortis neque. Donec pharetra pretium ante, at facilisis mi efficitur vel. Donec posuere, nisi quis vulputate ultricies, tellus ipsum aliquam lectus, et malesuada ex mi a diam. Duis non congue risus. Praesent non malesuada enim. Maecenas eu rhoncus neque.
    article
      header
        h2
          i Мои увлечения
      ol 1)Lorem ipsum dolor sit amet;
      ol 2)consectetur adipiscing elit;
      ol 3)Nulla iaculis tellus viverra erat rutrum imperdiet;
    footer
      p Copyright 2017 Lab2
