doctype html
html
  head
    meta(http-equiv='charset', content='windws-1251')
    title Lab2
  body
    h1
      b Блог Тимофеевой Анастасии Евгеньевны
    header
      nav
        ul
          li
            a(href='index.html') Главная
          li
            a(href='rozklad.html') Мое расписание
          li
            a(href='photo.html') Фотоальбом
          li
            a(href='news.html') Последние новости
          li
            a(href='video.html') Видео
    section
      header
        h2 Последние новости
      h3 Искусственный интеллект воссоздал игру "Марио"
      img(src='images/mario.jpg', width='500', height='300', alt='Фото')
      p
        | Опубликовано 
        time(datetime='2017-09-20T16:31:24+03:00') 20.09.2017
    p
    b При этом программа не имела доступа к оригинальному коду.
    p
    p
      | Искусственный интеллект воссоздал игру Super Mario Bros  по наблюдениям за игроками, не имея доступа к оригинальному коду. Программа была написана исследователями из технологического университета Джорджии, передает The Verge.
    p
      | Сообщается, что искусственный интеллект проанализировал составляющую игры и движение объектов по экрану. Таким образом программа изучила правила, записала их, как логическое утверждение, и объединила для игрового движка.
      | В настоящее время программа доступна только на 2D-платформах. Как уточняет издание, периодически она допускает сбои, но в целом работает.
      | В настоящее время специалисты заняты созданием собственной версии компьютерной игры Mega Man
      a(href='http://korrespondent.net/lifestyle/gadgets/3885251-yskusstvennyi-yntellekt-vossozdal-yhru-maryo') Подробнее
      | .
    h3 Курс валют на 12 сентября: гривну укрепили
    img(src='images/news2.jpg', width='500', height='300', alt='Фото')
    p
      | Опубликовано 
      time(datetime='2017-09-22T17:31:24+03:00') 22.09.2017
    p
    b НБУ незначительно укрепил курс гривны.
    p
    p
      | Национальный банк Украины установил на вторник, 12 сентября 2017 года, официальные курсы валют на уровне:
      br
      | – 100 долларов США – 2600,8703 гривны (-6,4261);
      br
      | – 100 евро – 3120,2641 гривны (-24,1354);
      br
      | – 10 российских рублей – 4,5494 гривны (-0,0251).
      br
      a(href='http://korrespondent.net/lifestyle/gadgets/3885251-yskusstvennyi-yntellekt-vossozdal-yhru-maryo') Подробнее
      | .
    footer
      p Copyright 2017 Lab2
