doctype html
html
  head
    meta(http-equiv='charset', content='windws-1251')
    title Lab2
  body
    h1
      b Блог Тимофеевой Анастасии Евгеньевны
    header
      nav
        ul
          li
            a(href='index.html') Главная
          li
            a(href='rozklad.html') Мое расписание
          li
            a(href='photo.html') Фотоальбом
          li
            a(href='news.html') Последние новости
          li
            a(href='video.html') Видео
    section
      header
        h2 Мой фотоальбом
      a(href='images/sea.JPG', target='_blank')
        img(src='images/sea.JPG', width='300', height='200', alt='Фото')
      p Азовское море
      br
      a(href='images/sea2.JPG', target='_blank')
        img(src='images/sea2.JPG', width='300', height='200', alt='Фото')
      p Азовское море
      br
      a(href='images/birds.JPG', target='_blank')
        img(src='images/birds.JPG', width='300', height='200', alt='Фото')
      p Птицы
      br
      a(href='images/sunrise1.JPG', target='_blank')
        img(src='images/sunrise1.JPG', width='300', height='200', alt='Фото')
      p Рассвет 4:23 
      br
      a(href='images/sunrise2.JPG', target='_blank')
        img(src='images/sunrise2.JPG', width='300', height='200', alt='Фото')
      p Рассвет 4:30
      br
      a(href='images/sunrise3.JPG', target='_blank')
        img(src='images/sunrise3.JPG', width='300', height='200', alt='Фото')
      p Рассвет 4:40
      br
      a(href='images/sunrise4.JPG', target='_blank')
        img(src='images/sunrise4.JPG', width='300', height='200', alt='Фото')
      p Рассвет 4:45
      br
      a(href='images/night.JPG', target='_blank')
        img(src='images/night.JPG', width='300', height='200', alt='Фото')
      p Ночь 
      br
    footer
      p Copyright 2017 Lab2
