doctype html
html
  head
    meta(http-equiv='charset', content='windows-1251')
    title Lab2
  body
    h1
      b Блог Тимофеевой Анастасии Евгеньевны
    header
      nav
        ul
          li
            a(href='index.html') Главная
          li
            a(href='rozklad.html') Мое расписание
          li
            a(href='photo.html') Фотоальбом
          li
            a(href='news.html') Последние новости
          li
            a(href='video.html') Видео
    section
      header
        h2 Мое расписание
      table(border='1', cellspacing='0', cellpadding='8')
        caption
          b Расписание
        tr
          th Время
          th Вторник
          th Среда
          th Четверг
          th Пятница
          th Суббота
        tr
          td 11:25
          td Front-end технологии
          td Практикум с программирования
          td Теория Вероятности
          td Основы программной инженерии
          td Теория Вероятности
        tr
          td(rowspan='2') 12:55
          td Front-end технологии (лекция)
          td(rowspan='2') Практикум с программирования
          td(rowspan='2') Основы программной инженерии
          td(rowspan='2') Практикум с программирования
          td(rowspan='2') КПЗ лекция
        tr
          td   
        tr
          td 14:30
          td
          td
          td Основы программной инженерии
          td
          td КПЗ практика
      h3 Преподаватели:
      p
        | -Лисняк А.А.
        br
        | 	 -Панасенко Е.В.
        br
        | 	 -Мыльцев А.М.
        br
        | 	 -Козлова О.С.
        br
        | 	 -Левчук С.А.
        br
    footer
      p Copyright 2017 Lab2
