doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title Lab2
  body
     h1 Текст заголовка 1
     header
        mixin list
          ul
             li 
              a(href='index.html') Главная
             li 
              a(href='rozklad.html') Мое расписание
             li 
              a(href='photo.html') Фотоальбом
             li 
              a(href='news.html') Последние новости
             li 
              a(href='video.html') Видео
        h2 Меню
        mixin list
    article
    header
        h2 Текст заголовка 2
     footer
        p текст футера


