doctype html
html
  head
    meta(http-equiv='charset', content='windws-1251')
    title Lab2
  body
    h1
      b Блог Тимофеевой Анастасии Евгеньевны
    header
      nav
        ul
          li
            a(href='index.html') Главная
          li
            a(href='rozklad.html') Мое расписание
          li
            a(href='photo.html') Фотоальбом
          li
            a(href='news.html') Последние новости
          li
            a(href='video.html') Видео
    section
      header
        h2 Мои видео
        iframe(width='560', height='315', src='https://www.youtube.com/embed/bLBSoC_2IY8', frameborder='0', allowfullscreen='')
        iframe(width='560', height='315', src='https://www.youtube.com/embed/EmnSm_d2ll4', frameborder='0', allowfullscreen='')
        iframe(width='560', height='315', src='https://www.youtube.com/embed/gujoslOsj58', frameborder='0', allowfullscreen='')
        iframe(width='560', height='315', src='https://www.youtube.com/embed/kM9Wuzj4k24', frameborder='0', allowfullscreen='')
    footer
      p Copyright 2017 Lab2
